* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body{
    background-color: slategray;
    color: white;
}

.container {
    display: flex;
    gap: 25px;
    padding: 15px;
    justify-content: center;
}

.board {
    display: flex;
    justify-content: center;
    border: .5px solid #e4e4e4;
    height: 70vh;
    width: 43vh;
    padding: 20px;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;;
}